.inventory-main-container {
  margin-left: 17%;
}

.top-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-title {
  font-size: 1.3rem;
  font-weight: 700;
}

.product-list-container {
  padding: 1rem;
}

.product-list-title {
  font-weight: 500;
  font-size: 1.1rem;
}

.product-list-header {
  background-color: #f4f5fc;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-list-header-item {
  width: 30%;
  text-align: center;
}

.product-item-box {
  background-color: #f4f5fc;
  padding: 0.4rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-item {
  width: 30%;
  text-align: center;
}

.product-item img {
  width: 40%;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 2rem;
  background-color: white;
  border-radius: 0.8rem;
}

.close-modal-button {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  cursor: pointer;
}

.modal-top {
  text-align: center;
}
